[2020-09-11 19:34] DBees opened #9 "Update task templates as appropriate for core-v-mcu repository"
The issues templates are slightly modified from the verification repo.
they should be reviewed by the HW TG chairperson

[2020-10-20 04:07] mithro opened #20 "Consider using verible for linting and code formatting"
Hi!

It looks like this project is using the LowRISC style guide. You thus might be interested in [Google's verible project](https://github.com/google/verible) which provides an Apache 2.0 licensed SystemVerilog linter and code formatter with the LowRISC style guide as an early target!

Due to the permissive license, you can even run the linter on CI systems like Travis CI, GitHub actions or Azure

[2020-12-08 19:55] timsaxe opened #23 "Documentation link leads to out-of-date file"
# Template for CORE-V-MCU Issues

## Bug Title
The main readme.md refers to fpga/readme.md in the cmc repo which is not in sync

### Type
Documentation

### Steps to Reproduce
Go to main readme, click on following link:

[code]

### Additional context
The precise issue that I ran into is that the cmc version refers to configs/platform_fpga.sh when the file is actually named configs/platform-fpga.s

[2020-12-14 22:47] hpollittsmith commented on #23
Thanks, Tim. The link has been corrected.

[2020-12-14 22:47] #23 closed

[2020-12-21 08:08] shteryana opened #28 "At least one hart must have a known hart ID of zero"
## At least one hart must have a known hart ID of zero
As per the [The RISC-V Instruction Set Manual Volume II: Privileged Architecture](https://github.com/riscv/riscv-isa-manual/releases/download/Ratified-IMFDQC-and-Priv-v1.11/riscv-privileged-20190608.pdf), paragraph 3.1.5 "The mhartid CSR  is  an  XLEN-bit  read-only  register  containing  the  integer  ID  of  the  hardware thread running the

[2020-12-23 00:53] timsaxe opened #29 "Update fpga/readme.md to use core-v tool chain instead of pulp tool chain"
# Template for CORE-V-MCU Task Issues
Tasks are defined, assigned and tracked as GitHub Issues.  For obvious reasons,
the template for a task is very different from the template for a bug.

Please use this file as a template for creating Tasks to create or update any of
the documentation in this repository.
<br>**Hint**: click on the edit symbol (looks like a pencil) and then
edit the markdown sou

[2020-12-23 00:54] timsaxe opened #30 "Update fpga/readme.md to use upstream openocd instead of patched openocd"
# Template for CORE-V-MCU Task Issues
Tasks are defined, assigned and tracked as GitHub Issues.  For obvious reasons,
the template for a task is very different from the template for a bug.

Please use this file as a template for creating Tasks to create or update any of
the documentation in this repository.
<br>**Hint**: click on the edit symbol (looks like a pencil) and then
edit the markdown sou

[2020-12-23 03:32] #30 closed

[2020-12-23 03:33] timsaxe commented on #30
sorry, wrong repo

[2020-12-23 03:34] timsaxe commented on #29
Sorry, wrong repo

[2020-12-23 03:34] #29 closed

[2020-12-23 03:35] timsaxe opened #31 "update fgpa/readme to use core-v toolchain instead of pulp"
# Template for CORE-V-MCU Task Issues
Tasks are defined, assigned and tracked as GitHub Issues.  For obvious reasons,
the template for a task is very different from the template for a bug.

Please use this file as a template for creating Tasks to create or update any of
the documentation in this repository.
<br>**Hint**: click on the edit symbol (looks like a pencil) and then
edit the markdown sou

[2020-12-23 03:36] timsaxe opened #32 "update fpga/readme to dezcribe using upstream openocd vs patched openocd"
# Template for CORE-V-MCU Task Issues
Tasks are defined, assigned and tracked as GitHub Issues.  For obvious reasons,
the template for a task is very different from the template for a bug.

Please use this file as a template for creating Tasks to create or update any of
the documentation in this repository.
<br>**Hint**: click on the edit symbol (looks like a pencil) and then
edit the markdown sou

[2020-12-25 09:50] ericsunplus opened #33 "GDB in prebuilt pulp toolchain lack of tui support"
## Bug Title
GDB in prebuilt pulp toolchain lack to tui support

### Type
* Toolchain

### Description
I used the `riscv32-unknown-elf-gdb` in suggested [Embecosm PULP GCC toolchain](https://www.embecosm.com/resources/tool-chain-downloads/#pulp) to connect to a cv32e40p FPGA. The debugging can work, but it is lacking of tui support so can't achieve interactive debugging

[code]

I build my own too

[2020-12-30 21:07] timsaxe opened #34 "fpga/readme error"
# Template for CORE-V-MCU Issues

## Bug Title
fpga/readme shows git clone -branch v1 for cloning pulp-sdk.  Should be --branch (or -b)

### Type
Documentation error

### Steps to Reproduce
Cut and paste the git clone for pulp-sdk

### Additional context
Add any other context about the problem here.

[2021-01-11 14:49] hpollittsmith commented on #34
Corrected fpga/readme

[2021-01-11 14:49] #34 closed

[2021-01-15 15:07] hpollittsmith commented on #28
The latest version of core-v-mcu now sets hartid=0.

[2021-01-15 15:07] #28 closed

[2021-01-15 15:08] hpollittsmith commented on #32
The latest version of core-v-mcu includes instructions to install standard openocd.

[2021-01-15 15:08] #32 closed

[2021-01-18 15:38] MikeOpenHWGroup opened #40 "Unable to build datasheet from sources"
I am not able to build the datasheet from sources.  Either I am missing some utilties or there are missing cls files.  Here is the output from `make all` (see "Steps to Reproduce" below for additional information):
[code]

### Steps to Reproduce
[code]
This generated a lot of errors due to missing utilities and packages, so I also did the following:
[code]

[2021-01-25 11:07] zarubaf opened #41 "Fix issue templates"
Fix the issue templates:

- They contain typos (e.g., GutHub) and inconsistent capitalization.
- Furthermore, the structure is non-intuitive and the template is overly long and complex. As they are now I think it would be better to remove them entirely. For example, they have multiple title fields, it is unclear where to put the necessary information.

[2021-01-25 11:14] zarubaf opened #42 "Core-V MCU Bring-up"
Migrate Content from `master`:

- Instantiate CV32E40P. A fork of the SoC is going to be necessary.
- Update documentation.

I've created two branches in this repository:

- `pulpissimo` which contains an up-to-date tree of PULPissimo.
- `core-v-mcu` which currently also contains an up-to-date tree of PULPissimo. This is the target branch to where we want to port the changes.
- Finally, there is a

[2021-01-25 11:18] zarubaf commented on #9
Closing in favor of #41

[2021-01-25 11:18] #9 closed

[2021-01-25 11:29] davideschiavone commented on #42
Thanks Florian.
I can take care of the pulp_soc. Let's link here issues related to those 3 points and we mark them as "done" once the relative issue has been closed so that we do not pollute this discussion with tech details

[2021-01-25 11:36] davideschiavone opened #43 "Fork pulp_soc add CV32E40P"
- [x] Fork pulp_soc in OpenHW Group
- [x] Update core-v-mcu ips_list with OpenHW Group pulp_soc
- [x] Integrate CV32E40P
- [ ] Define interrupt mapping
- [ ] Push to PULP pulp_soc repository our contribution

Please Greg Martin, @timsaxe, @jeremybennett define how the interrupts should be mapped in the CV32E40P core and document it so that HW and SW(freeRTOS) get aligned on it.

[2021-01-25 11:39] zarubaf opened #44 "CI/CD Bring-up"
Install continuous delivery of FPGA bitstreams for:

- Genesys 2
- Nexys A7

I've already set-up the required FPGA container. The remaining challenges are:

- [ ] Make sure PULPissimo synthesizes correctly to FPGA. I could see that support for the Nexys board is somehow broken.
- [ ] Setting up a (fork local) CI flow
- [ ] Decide whether to run the implementation flow nightly and/or on push to `ma

[2021-01-25 11:39] davideschiavone opened #45 "Write core-v-mcu Documentation"
This task tracks the MCU documentation writing progress

[2021-01-25 11:40] davideschiavone commented on #42
@zarubaf , can you please update your task list with a link to the following issues respectively?
#43 , #44 and #45 ?

[2021-01-25 11:41] zarubaf commented on #42
Terrific, thanks Davide. I will take care of #44.

[2021-01-25 11:43] jeremybennett commented on #43
@davideschiavone It would be good to ask Shteryana Shopova and Robert Balas about interrupt mapping, since they have more OS experience.

[2021-01-25 11:48] zarubaf commented on #45
From a technical perspective:

- I don't think the latex documentation is really accessible. I would suggest to go for `mkdocs` or `readthedocs`. I think the tex sources could be easily converted to markdown using `pandoc`.
- We should check if that is something ETH is interested in upstreaming or if they want to stick to their Tex documentation.
- Potentially if we do not upstream any `core-v-mcu

[2021-01-25 15:59] davideschiavone commented on #43
@bluewww do you have any suggestions? I don't have Shteryana Shopova GitHub ID, nor Greg Martin's one

[2021-01-25 17:17] jeremybennett commented on #43
@davideschiavone @shteryona is the GitHub ID you need

[2021-01-25 19:26] gmartin102 commented on #43
An idea for interrupts.  but first a clarification comment.  We have irqs  3,7, and 11 and 16-31 supported by the cv32e40p, My understanding is irq3 is a software request, Irq7  is Mtime and irq11 is machine interrupt. Is this correct?  Does the core-v-mcu support or should we be supporting an MTIMER for IRQ7?  This seems to be a good place for an OS periodic timed interrupt.  Could that be a rear

[2021-01-26 09:49] davideschiavone commented on #43
@gmartin102 . The interrupt mapping should be decided by you, @bluewww and @shteryona .

What you propose looks fine to me, i.e. mapping

PULP IRQ 10 to CV32E4 IRQ 7.
PULP IRQ 26 to CV32E4 IRQ 11 (i.e. event fifo)
And all the rest in the fast interrupts.
We can also attach
PULP IRQ 0 to CV32E4 IRQ 3 (as PULP 0 to 3 are SW interrupts AFAIK)

Please write a proposal and discuss with the SW team (  @

[2021-01-26 10:29] zarubaf commented on #45
@blueww confirmed that they would be willing to accept documentation generation in static HTML. The problem apparently is the description of the memory map which comes from non-standard Excel file and needs some hacky preprocessing.

The clean solution would be to generate markdown/html from lowRISC's `reggen` tool.

[2021-01-26 10:52] zarubaf opened #48 "Remove `adv_dbg_unit`"
PULPissimo should be fully compliant with the RISC-V debug specification so I don't see why this legacy module is still needed. Imho the module can be removed.

[2021-01-26 20:14] gmartin102 commented on #43
@davideschiavone
Yes This sounds good, I'll pull a slide together that outlines the basic plan.  I'm not completely familiar with all the events -- I count 168 of them and most seem to be place holders? and we seem to have half a dozen or so fast interrupts defined.  should have this available in a the next day .. certainly before Friday's discussion

[2021-01-27 00:35] bluewww commented on #43
@davideschiavone I think this is a reasonable mapping.
One thing we have to check yet if the timer that is currently mapped to PULP IRQ 10 can fulfill the properties outlined in the riscv-privileged document with respect to `mtime`, `mtimecmp`. Shteryana has made some arguments that this might be the case.

[2021-01-27 22:47] gmartin102 commented on #43
Attached is a proposal for the interrupt mapping.
[Core-Interrupt.pdf](https://github.com/openhwgroup/core-v-mcu/files/5883582/Core-Interrupt.pdf)

[2021-01-27 23:04] davideschiavone commented on #43
I think lowRISC's OpenTitat has exactly the TIMER you are looking for:

https://github.com/lowRISC/opentitan/blob/master/hw/top_earlgrey/rtl/autogen/top_earlgrey.sv#L816

Here the RV TIMER is attached directly to the Ibex core

Here the Timer: https://github.com/lowRISC/opentitan/blob/master/hw/ip/rv_timer/rtl/rv_timer.sv

It probably needs some hack to translate the input and output port register

[2021-01-27 23:10] davideschiavone commented on #43
Just came to my mind that as Ibex speaks OBI, there must be an adapter OBI2TUL, and indeed

https://github.com/lowRISC/opentitan/blob/master/hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv

It's not the best, but one can use this, or starting from that, developing the TUL2APB and viceversa.

[2021-01-28 07:34] blueww commented on #45
@zarubaf
Do you need any action from me on this?

[2021-01-29 13:35] hpollittsmith commented on #44
Hi Florian, how is the Nexys flow broken?

[2021-01-29 13:38] hpollittsmith opened #49 "Resolve clock_gating_module for FPGA synthesis"
To resolve the clock_gating_module for FPGA synthesis, so that cv32e40p code doesn't need to be modified, I'm suggesting the following:

- Create `core-v-mcu/fpga/pulpissimo-nexys/rtl/cv32e40p_clock_gating_xilinx.sv`; this is a copy of `pulp_clock_gating_xilinx.sv` in the same directory, with the gating module and ports renamed to match with cv32e40p requirement
- Modify `core-v-mcu/fpga/pulpissim

[2021-01-29 14:55] zarubaf commented on #44
Maybe it is a set-up issue from my side. I briefly tried the latest PULPIssimo (our `pulpissimo`) branch and it seems that:

- Somehow the IP dependencies are not working (the clock manager is not generated)
- The DRC task errors out because of missing resources I guess.

Is that something you can reproduce or is the FPGA synthesis working with the latest PULPissimo for you?

[2021-01-29 14:58] hpollittsmith commented on #44
Hi,

I built the core-v-mcu branch without any problems, but I can try the pulpissimo branch.

Hugh

From: Florian Zaruba <notifications@github.com>
Reply-To: openhwgroup/core-v-mcu <reply@reply.github.com>
Date: Friday, January 29, 2021 at 9:55 AM
To: openhwgroup/core-v-mcu <core-v-mcu@noreply.github.com>
Cc: Hugh Pollitt-Smith <Pollitt-Smith@cmc.ca>, Comment <comment@noreply.github.com>
Subject:

[2021-01-29 15:05] zarubaf commented on #44
Okay, that is good to know. Which `nexys` board did you select?

[2021-01-29 15:07] hpollittsmith commented on #44
nexysA7-100T

From: Florian Zaruba <notifications@github.com>
Reply-To: openhwgroup/core-v-mcu <reply@reply.github.com>
Date: Friday, January 29, 2021 at 10:06 AM
To: openhwgroup/core-v-mcu <core-v-mcu@noreply.github.com>
Cc: Hugh Pollitt-Smith <Pollitt-Smith@cmc.ca>, Comment <comment@noreply.github.com>
Subject: Re: [openhwgroup/core-v-mcu] CI/CD Bring-up (#44)

Okay, that is good to know. Which

[2021-01-29 15:50] zarubaf commented on #44
I see, I think I tried the 50T and that design doesn't fit. We currently don't have the board parts installed for the 100T. Let me come back to this once I've figured that out :-) Thanks for checking the issue.

[2021-02-01 01:14] hpollittsmith commented on #43
Re: integrating CV32E40P, it appears there is a file reference to `./rtl/include/cv32e40p_fpu_pkg.sv`  missing in the `cv32e40p/src_files.yml` file.

I added the following to `core-v-mcu/ips_list.yml`:

[code]
and ran update-ips, and it adds the source files for the core and updates the core-v-mcu build scripts, but when running synthesis there are errors with missing fpu package. When I add `cv32

[2021-02-01 07:44] zarubaf commented on #44
@hpollittsmith It seems the issue somehow persists for me. A fresh clone of this repository has problems with properly resolving the dependency to the clock manager ips:

[code]

I can manually build the clk manager with the Makefile and then the build runs fine, but that doesn't really work for any CI/CD task.

[2021-02-01 12:55] hpollittsmith commented on #44
@zarubaf what version of Vivado are you running? I've been doing clean installs and builds a fair bit over the last few weeks and haven't encountered this. I'm running 2019.2, although I want to upgrade to the latest Vivado.

[2021-02-01 18:47] davideschiavone commented on #43
Hi @hpollittsmith , the cv32e40p integration is on me and it is tracked in this pull request:
https://github.com/openhwgroup/pulp_soc/pull/1

once this is done I will issue a PR against the core-v-mcu branch that @zarubaf created that is aligned to PULPissimo.

Please let's not duplicate tasks

[2021-02-01 19:34] timsaxe commented on #49
The way I handled this, not that it is the only way, is to modify ips/tech_cells_generic/src/fpga/tc_clk_xilinx.sv

I duplicate the clock gating module and changed the names appropriately.

This did not require a change to the tcl file, or updating each directory.

[2021-03-26 16:58] mohamedElbouazzati opened #54 "running hello application for ZedBoard FPGA ( no thing displayed with screen /dev/ttyUSB0 115200)"
## i'm running hello application for ZedBoard FPGA and no thing displayed with  screen /dev/ttyUSB0 115200

### Configuration

- PULP-RISCV-TOOLCHAIN ( Pre-built)
- PULP-SDK
- Processor : CV32E40P
- Soc : Pulpissimo
- Board: ZedBoard FPGA

### JTAG and UART Connections:

| JTAG Signal | PMOD Pin |
|-------------|----------|
| TMS         | JA1      |
| TDI         | JA2      |
| TDO         | JA3

[2021-04-10 13:39] zarubaf commented on #54
That is probably better asked at the PULPIssimo issue tracker. We are trying to detach from the PULP SDK and things are currently heavily in flux. Sorry for the inconvenience!

[2021-04-10 13:39] #54 closed

[2021-04-10 13:40] #49 closed

[2021-04-10 13:40] zarubaf commented on #43
Guys, the module should now be flattened inside the `rtl/` directory with the changes applied.

[2021-04-10 13:40] #43 closed

[2021-04-10 13:43] #41 closed

[2021-04-10 13:43] zarubaf commented on #40
We are moving twoards read-the-docs and static HTML, so I've removed the Latex datasheet.

[2021-04-10 13:43] #40 closed

[2021-04-10 13:44] #31 closed

[2021-04-10 14:04] zarubaf opened #58 "Vendor `axi`"

[2021-04-10 14:05] zarubaf opened #59 "Vendor `common_cells`"

[2021-04-10 14:05] zarubaf opened #60 "Vendor `cv32e40p`"

[2021-04-10 14:06] zarubaf opened #61 "Remove `axi_slice` dependency"
`axi_slice` has been re-written and re-named to `axi_cut` and is a standard component within the `axi` repo.

[2021-04-10 14:07] zarubaf opened #62 "Remove `axi_slice_dc`"
`axi_slice_dc` has been re-written and re-named to `axi_cdc` and is a standard component in `axi`.

[2021-04-10 14:09] zarubaf opened #63 "Remove `hwpe`"
I'd like to get your input on removing the `hwpe`. Are you using it in QuickLogic @timsaxe?

Further input requested from @davideschiavone @gmartin102.

[2021-04-10 14:11] zarubaf opened #64 "Remove `apb_node` and `apb2apbcomp` in favour of a standard compliant APB"
`apb_node` violates the APB standard which makes it inconvenient to attach peripherals that are actually looking for standard compliance. Luckily, there is a new component `axi_to_apb` which is standard compliant. That would also allow us to remove the said modules.

[2021-04-10 14:11] zarubaf opened #65 "RFC: Remove `scm`"
Is the SCM (standard-cell memory) actually needed? Are you looking for such features @timsaxe?

@davideschiavone do you happen to know more, whats your take?

[2021-04-10 14:14] zarubaf opened #66 "Consolidate `apb_adv_timer` and `timer_unit`"
I fail to understand why we would need to different timer units in the system. Can somebody enlighten me, please? @davideschiavone @timsaxe @gmartin102

[2021-04-10 14:18] zarubaf opened #67 "Open-source Quicklogic modules"
Currently, we are missing a couple of Quicklogic modules:

https://github.com/openhwgroup/core-v-mcu/blob/f558efb9f6e0c73ebe7ddfb678058f3ab6e4af80/rtl_list.yml#L95-L99

@timsaxe and team, I'd like to have your input on this:

- Can we open source this? Or is it proprietory?
- If we can't how can we make a behavioral module for those components or stub the FPGA?

As soon as we have an agreement we

[2021-04-10 14:19] zarubaf opened #68 "IO Configuration"
Currently, the script to generate the IO configuration is missing. That is why I needed to add some stubs for `pad_control` and `pad_frame`. Let's bring the pad frame generator into the open space and we can also check-in a known good configuration?

Of course, comments more than welcome!

[2021-04-10 14:23] zarubaf opened #69 "Check multiply-driven signal"
https://github.com/openhwgroup/core-v-mcu/blob/f558efb9f6e0c73ebe7ddfb678058f3ab6e4af80/rtl/core-v-mcu-soc/rtl/pulp_soc/soc_peripherals.sv#L348

Is it known that the signal is multiply driven? Would be good to check this.

[2021-04-10 14:23] zarubaf commented on #69
@timsaxe

[2021-04-10 17:22] gmartin102 commented on #66
Florian,
Te two timer directories are unique,.  The timer_unit IP has the 2 32-bit / 1 64-bit timer that is used as the MTIMER for FreeRTOS.  The apb_adv_timer  is much more sophisticated in that it has state machines associated with it for PWM generation. I see the apb_adv_timer as the user general purpose timer resource as the timer_unit is probably;y reserved for the OS.
In the timer_unit IP, t

[2021-04-10 18:10] timsaxe commented on #67
We can opensource both the fcb and math units.

From: Florian Zaruba ***@***.***>
Sent: Saturday, April 10, 2021 7:19 AM
To: openhwgroup/core-v-mcu ***@***.***>
Cc: Tim Saxe ***@***.***>; Mention ***@***.***>
Subject: [openhwgroup/core-v-mcu] RFC: Quicklogic modules (#67)

CAUTION: This email originated from outside of the organization. Do not click links or open attachments unless you recognize t

[2021-04-10 18:12] timsaxe commented on #69
Yes, there is some commit that I am tracking down that created this and there is also another commit that breaks the interrupts.  So I’m and chasing that as well.  These are unfortunate side effects of the multi-repos system where things get checked in but the build doesn’t pull that version so I don’t notice that it created an error.  So looking forward to a single repo.

From: Florian Zaruba ***

[2021-04-10 18:32] timsaxe commented on #63
Not using it. Personally I prefer removing unused stuff unless it has a clear fit to a future mission and that mission is well enough understood that you know the element is fit for that purpose.

From: Florian Zaruba ***@***.***>
Sent: Saturday, April 10, 2021 7:10 AM
To: openhwgroup/core-v-mcu ***@***.***>
Cc: Tim Saxe ***@***.***>; Mention ***@***.***>
Subject: [openhwgroup/core-v-mcu] RFC: Rem

[2021-04-10 18:35] timsaxe commented on #65
Have not investigated this.  Do not have an opinion.

[2021-04-10 20:08] timsaxe commented on #69
Florian,

I have a working build based on master branches for QuickLogic-Corp/core-v-mcu{,-soc}, where working means that with QuickLogic-Corp/core-v-mcu-cli-tests (Eclipse/FreeRTOS) S/W project I can get UART0 and UART1 to operate using interrupts.

What I had to revert are some changes that I made to udma_subsystem which I believe caused the multiply defined signals.
The issue there is that the

[2021-04-11 05:47] zarubaf commented on #66
Great, that makes sense. I’ll keep this open until we capture that information somewhere.

[2021-04-11 08:03] zarubaf commented on #67
Perfect @timsaxe! That is definitely the easiest and best solution!

[2021-04-11 08:04] zarubaf commented on #63
Great, completely agree!

[2021-04-11 08:24] #48 closed

[2021-04-11 08:50] #62 closed

[2021-04-11 09:07] #63 closed

[2021-04-11 09:39] #59 closed

[2021-04-11 09:40] zarubaf commented on #60
Closed by #77

[2021-04-11 09:40] #60 closed

[2021-04-11 10:55] jeremybennett commented on #33
@zarubaf I don't have the right permissions, but this needs to be assigned to @jessicamills as GNU tools lead.

The Embecosm public build bot includes the scripts for building and testing the tool chain from source.

[2021-04-11 10:58] #58 closed

[2021-04-11 11:15] zarubaf commented on #65
Apparently, it wasn't used anywhere so I've removed it for now. We can add (and discuss) whether/when this is needed.

[2021-04-11 13:23] zarubaf opened #84 "Fix Genesys2 FPGA builds"
Due to the IO changes, there isn't a valid IO assignment for the Gensys2 board available. If that has been fixed we can try to re-enable the FPGA target.

[2021-04-11 13:49] zarubaf opened #85 "Remove global header files from IPs"
Searching all IP repositories for `pulp_soc_defines.sv` (`rg -w pulp_soc_defines -g '!core-v-mcu/*'`) leads to:
[code]

IPs should be stand-alone and should not depend on includes. Let's refactor and remove them!

[2021-04-11 17:05] zarubaf opened #89 "Re-think FPGA specific modules"
Currently the FPGA and ASIC specific modules are `ifdefed` and scattered throughout the code. I would propose two fixes to that:

- SRAMs are wrapped in technology unspecific ways. During implementation, they can be substituted with the tech specific versions. Similar to other tech specific components (see `tech_cells_generic`).
- For the clock generator I would propose we pull out the clock into

[2021-04-11 17:29] timsaxe commented on #65
Perfect.  We can let need drive us in the future.

From: Florian Zaruba ***@***.***>
Sent: Sunday, April 11, 2021 4:16 AM
To: openhwgroup/core-v-mcu ***@***.***>
Cc: Tim Saxe ***@***.***>; Mention ***@***.***>
Subject: Re: [openhwgroup/core-v-mcu] RFC: Remove `scm` (#65)

CAUTION: This email originated from outside of the organization. Do not click links or open attachments unless you recognize th

[2021-04-12 13:40] davideschiavone commented on #65
definitively to be removed. it was part of Quentin tape out from 2017

[2021-04-12 15:37] zarubaf opened #91 "Verilator testbench bring-up"
I am creating this tracking issue to see how we can bring up the Verilator testbench. @jeremybennett if you can point me towards the GDB resources that could be very helpful.

[2021-04-12 15:39] zarubaf opened #92 "RTL Testbench bring-up"
Currently, the testbench is pretty overloaded with functionality and legacy, which ideally, I would like to re-factor into:

- A small testbench to just execute small test programs. What kind of software are we running on it?
- A chip-level testbench, potentially in the implementation repo, that contains models for the peripherals, etc.

[2021-04-12 15:46] #65 closed

[2021-04-12 15:48] zarubaf opened #93 "Re-factor SoC crossbar"
Currently, the crossbar pulls in a lot of unnecessary dependencies and is one big monolithic block. I think there is a replacement in the making for it based on better verified standard components. We should see how we could (if we want) integrate it. Alternatively, we can also architect a more tailored solution for the next gen.

[2021-04-12 15:53] zarubaf opened #94 "Bring-up fusesoc FPGA support"
Fusesoc comes with pretty nice FPGA support. That would also help to target different FPGA boards with less code duplication. Things to figure out:

- How we can generate the IPs as part of the fusesoc flow (if this is at all necessary): olofk/fusesoc#505
- How to parameterize the platform and fpga: https://github.com/fusesoc/blinky/blob/1563da51e7169dfc993c1603b88b838f51556ada/blinky.core

[2021-04-12 16:10] jeremybennett commented on #91
We'll be using Embdebug, probably layered on OpenOCD. I can't give you a good link for Embdebug because we are in the process of a major release. This project will actually be part of the validation of that release.

[2021-04-13 09:37] zarubaf opened #95 "Add lowRISC UART"

[2021-04-13 11:06] zarubaf opened #96 "Remove `xilinx_interleaved_ram` and `xilinx_private_ram`"
Block RAMs can be inferred using either the correct coding style or Xilinx Parameterized Macros (XPM) such as used in the `tc_sram`s.

[2021-04-13 11:22] zarubaf opened #98 "Consider using structs for larger wiring undertakings"
We have quite some port explosion going on, for example when looking at `soc_peripherals.sv`. I'd suggest we try to bundle up the ports of the same type into structs which we can have in a `core_v_mcu_pkg.sv`.

[2021-04-13 14:07] gmartin102 commented on #67
I can add the missing files... seems like I can add to the Quicklogic fork which is called core-v-mcu-ohw in the QuickLogic-Corp area.  If this is ok or a better idea exists, let me know

[2021-04-13 16:34] zarubaf opened #99 "Automate FPGA build"
- Automate FPGA building
- Automate publishing to i.e., S3 buckets

[2021-04-14 15:12] davideschiavone opened #100 "Delete RTL test files from Arnoldv1"

[2021-04-16 07:52] zarubaf commented on #100
Fixed by #101

[2021-04-16 07:52] #100 closed

[2021-04-16 20:11] #67 closed

[2021-04-16 20:11] zarubaf commented on #68
Fixed by #103

[2021-04-16 20:11] #68 closed

[2021-04-19 17:26] timsaxe opened #106 "Including automatic svh generation in build"
utils/ioscript does multiple things:
1/ reads rtl/../data/*.csv and produces .md files for documentation -- this is accessed with a 'make' in docs/
2/ reads rtl/../data/*.csv and produces .h files for software -- I think there should be a sw/ folder parallel to /docs with a make for this
3/ read  rtl/../data/*.csv and produces .svh files for simulation/emulation/synthesis -- ???
4/ reads pintable.

[2021-04-19 17:26] timsaxe commented on #106
@zarubaf @gmartin102  Can I get your suggestions on  the above?  If I get some free time I will explore the script option today.

[2021-04-20 13:56] zarubaf opened #108 "Fix hard-coded address widths to `APB_FPGA_ADDR_WIDTH`"
@gmartin102 noticed a number of other places where the width is hardcoded [19:0]. They should probably be fixed to be `APB_FPGA_ADDR_WIDTH` also. Please @gmartin102 if you could address that in a separate pull request?

Reference #107

[2021-04-20 14:03] zarubaf commented on #106
In fusesoc we would already have a solution for this, it supports generate targets and it generates the files into a build dir which is unique for the given target, but we are not there yet, unfortunately (especially for synthesis) and I think we shouldn't create a dependency on this feature.

Would it be a viable path to switch to make for the moment? We could call the io script and the `./genera

[2021-04-20 15:54] gmartin102 commented on #108
@zarubaf I fixed a number of other address width issues in efpga_subsystem,  Also included some other logic fixes in various files and fixed a number of utility files .. openocd and  ioscript things.  I will do a pull request against Quicklogic branch address-width

[2021-04-21 19:06] davideschiavone opened #110 "clean up core-v-mcu from other core IPs"

[2021-04-22 08:08] zarubaf commented on #108
Please do so! Thanks!

[2021-04-22 09:56] zarubaf opened #113 "Pads and pad frame"
When bringing up verilator I ran into two issues:

- https://github.com/openhwgroup/core-v-mcu/blob/57c8dc34f3ecbb079cf14c8562b01d73fd9f476d/rtl/core-v-mcu/top/pad_frame.sv#L130 `jtag_tdo_i` is connected to an output, I guess that is probably a problem with the IO script. @timsaxe
- https://github.com/openhwgroup/core-v-mcu/blob/57c8dc34f3ecbb079cf14c8562b01d73fd9f476d/rtl/vendor/pulp_platform_tec

[2021-04-22 12:43] gmartin102 commented on #108
@zarubaf - I've executed a pull request, but it fails the verible format, but I can't tell why its complaining about.  I did run the format script and I had difficulting getting the git-diff script run locally so I'm not sure how to correct the errors

[2021-04-22 12:51] zarubaf commented on #108
Sorry @gmartin102 I've missed the PR. I've left some minor comments there.

[2021-04-22 16:25] gmartin102 opened #115 "Incorrect interrupts to cv32e40p"
fc_subsystem.sv connects the incorrect interrupts from apb_interrupt_cntrl.sv.  core_irq_x is a priority encoded vector, but since cv32e40p uses fast interrupts irq_o vector from apb_interrupt_cntrl was added to present unmasked pending interrupts to th cv32e40p

[2021-04-23 09:32] davideschiavone opened #116 "instantiate the FPU"

[2021-04-24 02:17] stefanct opened #117 "Zynq/UltraScale Ports + JTAG"
Hi,
I was wondering if there are any plans for other FPGA ports. I'd mostly be interested in Zedboard and ZCU102.

In the past these ports (and softcores as standalone projects in general) have been a bit annoying because you had to use an external JTAG programmer since the on-board USB-JTAG was only connected to the ARM CPU (PS). I am currently evaluating if it would be possible to get rid of tha

[2021-04-24 02:23] timsaxe commented on #113
I fixed ioscript.py to resolve the first issue. (Did this in the QuickLogic addr-width branch)

I don’t see the need to PU and PD primitives in emulation or actual silicon, and if deployed should really be a test bench feature.  SO I would suggest removing and then if anything breaks we can discuss how best to fix it.

From: Florian Zaruba ***@***.***>
Sent: Thursday, April 22, 2021 2:57 AM
To: op

[2021-04-24 07:34] zarubaf commented on #113
Thanks, @timsaxe for fixing 1. I'll try to tackle 2 soon and leave the issue open for that.

[2021-04-24 07:46] zarubaf commented on #117
Hey @stefanct,

yes, we are definitely interested in that. We are trying to switch to fusesoc which should make adding another FPGA board (at least from the perspective of a script) much easier. Also, @timsaxe has put a lot of effort into making the IO system reconfigurable and adaptable depending on the FPGA board. Everything is still in a very early phase (for example we didn't yet change over t

[2021-04-24 10:14] zarubaf commented on #117
I just found this:
- https://www.cl.cam.ac.uk/~jrrk2/docs/jtag/
- https://github.com/riscv/riscv-openocd/issues/385
- https://github.com/chipsalliance/Cores-SweRVolf/issues/29

which seem to indicate that one can use the BSCANE2 primitives by remapping the IR register in OpenOCD to the user IR registers of the BSCANE2 primitives.

What I didn’t check so far: Is the primitive available on all 7seri

[2021-04-24 14:07] stefanct commented on #117
After sending it, I have also found a blog post with some interesting details: https://jsteward.moe/risc-v-hardware-design-part-b-edgeboard-series.html From that, I'd say that the primitive exists for all relevant devices. I don't currently have access to the IP core yet (I've requested a license update for that) but apparently it might be better to directly instance the primitive to avoid potenti

[2021-04-25 08:17] zarubaf commented on #117
Okay after some more digging it seems we have two options which all rely on the `BSCANE2` Xilinx primitive. As an explanation of why I think this is a debug module related request:

The debug module contains two big components:

1. The DTM (Debug Transport Module) is a specific protocol that translates to a relatively agonistic `ready`/`valid` handshakes request to the DM. The RISC-V specification

[2021-04-25 18:24] zarubaf commented on #117
I've drafted up an implementation of 2 here: https://github.com/pulp-platform/riscv-dbg/pull/111

[2021-04-26 06:09] zarubaf commented on #115
Thanks for catching this. Are you taking care of it and provide a fix?

[2021-04-26 11:35] gmartin102 commented on #115
Yes I will provide a single PR for this issue

[2021-04-27 12:30] stefanct commented on #117
As discussed on mattermost...
This is indeed working with pulpissimo on the zedboard with some peculiar openocd configs, which is listed below for reference.
The vid/pid are just the USB IDs of the ftdi chip.
The layout settings depend on how the ftdi is connected on the board.
The two expected-id numbers represent the arm cpu and the bscane2 interface respectively and depend on the xilinx fpga de

[2021-04-30 12:31] gmartin102 opened #120 "Peripheral output enables from udma should be active high."
the unified pad/pin mixing scheme assumes active high output enables.   in particular udma spa and stdio have dynamic output enables that are specified as active low. -- I will make a pull request to correct this.

[2021-05-18 16:55] jeremybennett opened #126 "Python requirements problem on Ubuntu 20.04"
Running
[code]
on Ubuntu 20.04 gives an error
[code]
Probably need to some version matching.

[2021-05-19 16:33] jeremybennett opened #130 "944 warnings raised by Verilator"
We build the Verilator model as follows:
[code]
Verilator raises 944 warnings. The warnings and frequency counts are:
[code]

These should all be investigated and either fixed or be marked as ignored.  Note that UNOPTFLAT will have an impact on Verilator model performance.

[2021-05-19 19:27] jeremybennett commented on #130
@MikeOpenHWGroup - sorry forgot to add this in. It is today's top of tree:
[code]

[2021-05-19 19:28] jeremybennett commented on #130
I did notice that you need a pretty up to date Verilator to build the MCU at all.

[2021-05-20 05:10] timsaxe opened #132 "Doc style"
There is now a 'Developer's' section on the docs.  I'm thinking we should use that to define our preferred practices, for example, RTL should follow lowRISC style, and pass Verible lint.

We can also use this to define how we think various issues, such as pin missing warnings from Verilator should be handled.

[2021-05-20 06:08] davideschiavone opened #133 "add minimum python version required"

[2021-05-20 09:11] zarubaf commented on #130
From an RTL perspective I'd say we need to prioritize:

[code]

which, unfortunately, make up quite some amount of pins... Before we start I would also suggest we take the action to set-up CI so that we, once we fixed them, do not introduce more by adding new code!

[2021-05-31 04:26] timsaxe opened #137 "make jtag/clk I/O uni-directional"

[2021-06-21 08:28] jeremybennett commented on #130
@zarubaf This is not a valid reason for closing this issue. You've just created a waiver file to ignore all the warnings. The issue is about addressing the warnings!

[2021-06-21 09:57] zarubaf opened #140 "Verilator UNOPTFLAT (performance warnings)"
Currently, we have a large number of `UNOPTFLAT` warnings waived which indicate a potential performance problem of the executable model. There is a goal to see whether we can address them one way or the other.

[2021-06-23 14:41] rakkeduling opened #142 "Build and run on Nexys A7-100T"
Hello!
I'm trying to learn a bit about core-v and this is the first time I'm building a bitstream. I want to run core-v (hopefully CV32E40P and later CV32E40X) on a Nexys A7-100T. I don't really find any good examples on how to run etc..

I first ran
`make nexys-emul`

then I download the bitstream to my Nexys. I attach a debugger to JB Pins 12-8 but my debugger can't find the clock or my debbuger

[2021-06-24 13:59] #142 closed

[2021-07-01 14:45] davideschiavone commented on #116
closed by #141

[2021-07-01 14:45] #116 closed

[2021-07-12 09:35] bluewww opened #149 "Running an RTL simulation"
It's not clear if and how you can run an RTL simulation of the core-v-mcu.

Ideally, the README.md would explain how to do this.

[2021-07-15 14:35] jeremybennett opened #150 "Debug module reports the wrong number of Harts"
The MCU has a single hart. The debug unit does not report this.

Section 3.3 of the ratified RISC-V Debug standard (v 0.13) says that to enumerate the harts:

If we do this for the MCU we get:
[code]
In other words
- harts 0-7 are shown as being existent and available
- harts 8-1023 are shown as being existent, but unavailable
- harts 1024 upwards are shown as being non-existent

The troublesome R

[2021-07-15 14:59] gmartin102 commented on #150
So my question is should both the NB_CORES and NrHarts be set to 1?  since that is all that we are implementing thta would seem to be the correct interpretation.

[2021-07-16 15:33] jeremybennett commented on #150
That seems plausible, but it would be good to understand if they have other uses within the debug unit. I haven't examined the RTL in detail, @davideschiavone pointed me to the code.

BTW, I think it is also an error in PULP, which should be setting HARTSELLEN to 10 (indicating they could configure for up to 10^2 harts) and then mark all except the first 8 (since PULP has 8 cores) as non-existent.

[2021-08-09 13:34] zarubaf opened #155 "Reset on debug connect"
OpenOCD does not reliably connect. We found a sequence that usually works:
- turn on the board;
- start up OpenOCD;
- after OpenOCD has started, but before it times out hit CPU reset button.

[2021-08-09 19:02] gmartin102 commented on #155
@florian -- I have not seen this issue.  I use openocd many times per day and the only issue i have ran into is an occasional lost Openocd process that ties up the USB port from a poor termination...(usually from downloading a bitstream while openocd and gdb are connected to the target). I'll look into ndmreset a bit as I have noticed that the reset button while openocd is connected does  send the

[2021-08-10 08:25] zarubaf commented on #155
Okay, that's good to know. Was just my first guess. Somehow there seems to be trouble with others reproducing a reliable connection.

[2021-08-18 10:57] jeremybennett opened #159 "Accessing FP CSRs crashes the debug unit"
I am running a Verilator model with the standard configuration, i.e. no FPU and no PULP extensions.

If I read one of the FPU CSRs, then I will get the value last read from a CSR and all subsequent reads to CSRs will return the same value.  Here is a demonstrator:
[code]

Note that reading the hardware loop CSRs does not have this effect, even though hardware loop is not connected.

I suggest that

[2021-08-18 12:20] jeremybennett commented on #150
I notice that with the latest commit [145a458](https://github.com/openhwgroup/core-v-mcu/commit/145a458344ce14b4cc0858ded3e684b73a296e97) in the master branch. `HARTSELLEN` is now reported as 0 and there is a single Hart shown as available.

Marking as closed. Thanks.

[2021-08-18 12:20] #150 closed

[2021-08-18 15:13] jeremybennett commented on #159
An additional observation that attempting to access the FP registers has the same impact as accessing the FP CSRs.

[2021-08-18 20:50] MikeOpenHWGroup commented on #159
@jeremybennett, can you raise an issue on core-v-verif about this?  I am 99% certain we tested this on the CV32E40P, but I'd like a reminder to double check that (I'm on the road at present and will dutifully forget all about it without an issue to force me to look into it.)

Thanks

[2021-08-19 13:05] jeremybennett commented on #159
Also now filed as https://github.com/openhwgroup/core-v-verif/issues/820, which has detailed instructions for reproducing.

[2021-08-25 19:23] MikeOpenHWGroup opened #163 "Behavior of debug module is not as expected"
During his review of #157, @jeremybennett reported that the "behavior of debug module is not as expected".  (See [here](https://github.com/openhwgroup/core-v-mcu/pull/157#pullrequestreview-728297605)).  Unfortunately, the changes requested were squashed in order to advance other work.   The purpose of this Issue is to ensure the problem reported is resolved on this repo.

[2021-08-31 14:35] gmartin102 commented on #163
@jeremybennett - Have you been able to verify if the dev branch is functioning properly?  If so can we close this issue?

[2021-08-31 16:01] jeremybennett commented on #163
@gmartin102 Good news is that it all builds, bad news is that I got
[code]
I need to read all your instructions about what files I need where to get this to run. I'll continue looking at this later.

[2021-08-31 16:04] jeremybennett commented on #163
Hmmm - looks to be some hard-coded directory dependencies. I'll continue with this later.

[2021-08-31 16:08] gmartin102 commented on #163
you will need to do a link of the mem_init directory from the  verilator model-lib into your verilator source directory. All the mem  files are included in the model-lib directory. Same procedure as you used for the boot.cde file except the mem files are placed into the model-lib directory along with all the mem files to avoid jtag downloads of large programs.

[2021-08-31 17:23] jeremybennett commented on #163
@gmartin102 Thanks for your hint on MM. Builds and runs cleanly now :-)

[2021-08-31 17:23] #163 closed

[2021-09-05 00:25] gmartin102 opened #168 "IDCODE change to 0x10001602 causes OPENOCD to fail"
Openocd reports an invalid IDCODE of 0x10001602.  Seems It wants at least a "1" in the LSB position and the manufacturer code is illegal.

[2021-09-05 07:06] zarubaf commented on #168
Indeed, I remember the LSB should be 1. I’ll fix that. For the other thing we need to patch openocd with the OpenHW IDCODE.

[2021-09-07 13:47] gmartin102 commented on #168
@zarubaf -- for a temporary fix, I am going to make the IDCODE 0x10001603 to make openocd happy, but That Manufacture code (0x301) seems to be assigned to MOVEKING -
Info : JTAG tap: riscv.cpu tap/device found: 0x10001603 (mfg: 0x301 (MOVEKING), part: 0x0001, ver: 0x1)
Do we have or need a Manufacture code or is that for the end users to assign?

[2021-09-07 14:04] zarubaf commented on #168
Sorry @gmartin102: So our JEDEC code is `0x602` (as registered in JEP106). I think my misconception was that I thought the debug module would shift that appropriately. So the proper ID CODE should be:

`0x10001C05`

Can you check that, there should probably be unknown vendor and I will get the PR to OpenOCD (once I've figured out how that works).

![Screenshot 2021-09-07 at 16 02 42](https://user-

[2021-09-07 14:04] zarubaf commented on #168
Can you try quickly and report back please?

[2021-09-07 14:06] gmartin102 commented on #168
Yes, will get back to you as soon as i can complete a P&R

[2021-09-07 15:19] gmartin102 commented on #168
@zarubaf 0x10001c05 works --
Info : JTAG tap: riscv.cpu tap/device found: 0x10001c05 (mfg: 0x602 (<unknown>), part: 0x0001, ver: 0x1)
Info : datacount=2 progbufsize=8
Info : Examined RISC-V core; found 1 harts

[2021-09-07 16:10] gmartin102 commented on #168
Yes I will make a pr from dev to master with that corrected and an additional correction to the ioscript later today

[2021-09-08 05:28] navaneeth-cirel opened #170 "Silicon validation results"
Hi,

Are there any test results from the silicon which was taped out for core-v-mcu?

Thanks

[2021-09-08 13:53] MikeOpenHWGroup commented on #170
Thanks for your interest @navaneeth-cirel.  The core-v-mcu has not yet taped-out (rest assured we are working on it and will make a big deal about it when it does).

What types of test results are you interested in?

[2021-09-08 14:04] navaneeth-cirel commented on #170
Hi @MikeOpenHWGroup,

Thank you for a quick reply. We are mainly interested in the power numbers (active, sleep etc.) similar to what is seen in a typical Microcontroller datasheet and also any benchmarking scores (e.g. Coremark). The main reason is that we are planning to use the CV32E40P core in our SoC and would like get some ballpark figures of the power and performance that can be expected.
I

[2021-09-08 14:20] MikeOpenHWGroup commented on #170
If you are looking for CV32E40P-specific information, you will not find that here as this repo is for the MCU.

OpenHW has published some performance data for the CV32E40P which you can find [here](https://github.com/openhwgroup/core-v-docs/blob/master/cores/performance/ppa_data.xlsx) in our core-v-docs repository.  Admittedly that is a terrible place for it and I'll open an issue to see if we can

[2021-10-01 23:18] stefanct commented on #117
However, I was not able to get it to work on a ZCU102 (see the merged [riscv-dbg changeset](https://github.com/pulp-platform/riscv-dbg/pull/111#issuecomment-876162839))

[2021-10-14 09:44] kangliyu1 opened #181 "Some problems when make buildsim sim"
![image](https://user-images.githubusercontent.com/76480905/137293185-29f1a8fb-6b22-48d2-aa51-de37fbbd3eb5.png)
I run the command make buildsim sim, and the problem as shown in the figure appeared in questasim

[2021-10-15 01:25] kangliyu1 commented on #181
[logifle.txt](https://github.com/openhwgroup/core-v-mcu/files/7350217/logifle.txt)

[2021-10-15 11:48] gmartin102 commented on #181
The file you included is the logfile from the modelsim command.  I am interested in seeing if the uartdpi library was compiled properly. after you run ' make buildsim' you should have a file called uartdpio.so in the core-v-mcu/tb/uartdpi directory.
That library is linked with the rtl to provide a /dev/pts uart to send/receive data to the simulation.  the shared library is compiled in the buildsim

[2021-10-18 03:31] kangliyu1 commented on #181
@gmartin102 Hello, do you mean to change like this? , I made another mistake after changing it like this
![image](https://user-images.githubusercontent.com/76480905/137665155-5373dabc-44e0-48bc-97e4-5409e370e828.png)
![image](https://user-images.githubusercontent.com/76480905/137665187-c07606ef-6cbd-4211-bbd6-b2d1d058a1e5.png)
[log.txt](https://github.com/openhwgroup/core-v-mcu/files/7361638/log.t

[2021-10-19 11:57] kangliyu1 opened #182 "There are some problem during make buildsim sim"
the following is the corresponding log，I hope seniors can give some pointers
`log:# Reading pref.tcl
[code]

[2021-10-19 14:39] gmartin102 commented on #182
I saw in your previous note that you had commented out the uartdpi portion of the vsim command, -- did you also remove the uart references in the testbench (tb/core_v_mcu_tb.sv)? I think the signal 11 error is due to the dpi calls in the uart verilog module --

[2021-10-19 14:44] kangliyu1 commented on #182
Thank you for your reply. Are you talking about this part of the code? I have commented it out
![image](https://user-images.githubusercontent.com/76480905/137934009-f2ef37d3-0fc7-4f30-b6dd-cf0f570c5d2d.png)

[2021-10-20 01:06] kangliyu1 commented on #182
@gmartin102 Thank you very much for your reply. I made the mistake after I changed it here. It was too late yesterday so I didn’t see the message. Sorry
![image](https://user-images.githubusercontent.com/76480905/138011030-de29816c-c232-43a6-941e-e108ec7fc22c.png)
![image](https://user-images.githubusercontent.com/76480905/138011056-7d8c76e1-ebe0-4150-a124-561b7b700a65.png)

[2021-10-25 03:32] kangliyu1 opened #183 "some questasim about transplant"
Hello, if I now want to transplant core-v-mcu to vivodo for subsequent development work on it, can someone tell me what I should do? I expect some seniors can give some advice and guidance, thank you very much

[2021-10-25 12:41] #182 closed, assigned to nobody

[2021-10-25 13:05] kangliyu1 opened #184 "some questions about fusesoc"
When I run "fusesoc --cores-root. Run --target=sim --setup --build --run openhwgroup.org:systems:core-v-mcu", the following log error appears,This problem has troubled me for a long time. I hope someone can give me some advice. Thank you very much.
note:I remove the two uarts from the testbench core-v-mcu/tb/core_v_mcu_tb.sv and the associated -sv_lib option
log:
[code]

[2021-10-25 14:46] #184 closed, assigned to nobody

[2021-10-25 14:49] #183 closed, assigned to nobody

[2021-10-27 07:19] kangliyu1 opened #185 "Some questions about EFPGA"
Some questions about EFPGA
Hello! Is the role of EFPGA in CORE-V-MCU a configurable HWPE? Or can the EFPGA module be built into any circuit based on the given bitstream? Under the core-v-mcu project, I found that the SDK cannot be built like pulpissimo, so how should this EFPGA be used? Another question is that EFPGA does not seem to be open source in the core-v-mcu project. What are the character

[2021-11-03 20:07] jeremybennett opened #187 "FP 0 reported through debug unit as tied to constant positive 0"
The verilator model under development for the CORE-V MCU has been used to access the FPU registers. It appears that register `f0`, which should be one of eight temporaries is tied to constant 0x0 (IEEE 754 positive 0).  Details of the reproducer and VCD are given below. The output from the Verilator model test framework is as follows:
[code]
## Reproducer

The Verilator model can be built as follo

[2021-11-04 09:57] jeremybennett commented on #187
Compressed VCD file is available for download: [fpr-access.vcd.xz](https://files.embecosm.com/s/xfAwQ9K5S3aXpn7)

[2021-11-04 14:34] MikeOpenHWGroup opened #188 "Centralize compiler macros in a top-level package"
There is at least one instance of a compiler macro in CORE-V-MCU that is defined and used in disjointed parts of the RTL.  The macro in question is `USE_FPU`.  It is used in  [fc_subsystem.sv](https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/core-v-mcu/fc/fc_subsystem.sv#L156) to set the FPU parameter for the CV32E40P core.  The macro is defined in [pulp_soc_defines.sv](https://github.com

[2021-11-04 16:02] MikeOpenHWGroup opened #189 "Incorrect parameterization of CV32E40P in CORE-V-MCU"
Within the CORE-V-MCU, the CV32E40P core is instantiated in [fc_subsystem.sv](https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/core-v-mcu/fc/fc_subsystem.sv#L155) as follows:
[code]
There are several issues here:
1. The `USE_FPU` macro (tick-define) is defined in `pulp_soc_defines.sv` (see #188).
2. Assuming that the intended value of `USE_FPU` is 1, this is not a Release 1.0.0 (v1) confi

[2021-11-04 16:02] gmartin102 commented on #188
@MikeOpenHWGroup - I thought the `include "pulp_soc_defines.sv" on line 10 or so inthe fc_subsystem would read the definitions in before compilation.   maybe the file should be an svh suffix to properly denote it as a header file?  Our (My) intent was to avoid the compile order issue and eliminate the confusion by having the parameter ripple up a down the hierarchy as an instantiated  parameter.

[2021-11-04 16:18] MikeOpenHWGroup opened #190 "Floating Point Unit is instantiated in CORE-V-MCU"
The CORE-V-MCU instantiates the "fpnew" floating point IP from the pulp-platform team.  As discussed in #189, the CV32E40P does not make use of this floating point unit, so it really should not be there.

Note: I have labelled this as a bug for two reasons:
1. Instantiating fpnew and connecting it to the core via the APU bus may cause unintended behaviour.  This has not been tested for.
2. Physica

[2021-11-04 16:34] MikeOpenHWGroup commented on #188
Yeah it "works", but its dangerous to make the `fc_subsystem` dependent on the `pulp_soc_defines`.

I like that one better. If we are going to have defines anywhere they should be in a header file (svh) at the top of the hierarchy.

Better yet, just get rid of it.  the `fc_subsystem` already has a `USE_FPU` parameter so that should be passed to the core.

[2021-11-04 20:10] MikeOpenHWGroup commented on #20
Ouch, I cannot believe we let this one get so stale.

@mithro, AFAIK we have been using Verible for this project since 2021-06 (see our [top-level README](https://github.com/openhwgroup/core-v-mcu#verible-format-check))

@gmartin102 and/or @zarubaf can you confirm?

[2021-11-04 20:21] MikeOpenHWGroup commented on #33
Picking up this stale issue.

@jessicamills is not able to access this repo - I have sent her an invite.  It is my understanding that Jessica is off until 2021-11-15.

[2021-11-04 20:23] MikeOpenHWGroup commented on #44
@zarubaf, @hpollittsmith what is the status of this issue?

[2021-11-04 20:26] MikeOpenHWGroup commented on #45
There has not been any update to this issue for 10 months.   I've assigned it a label and an owner.

[2021-11-04 20:28] MikeOpenHWGroup commented on #61
Hi @zarubaf, what is the status of this issue?

[2021-11-04 20:29] MikeOpenHWGroup commented on #64
Hi @zarubaf, what is the status of this issue?

[2021-11-04 20:30] MikeOpenHWGroup commented on #66
Hi @zarubaf, what is the status of this issue?

[2021-11-04 20:32] MikeOpenHWGroup commented on #69
Hi @zarubaf, @timsaxe.  What is the status of this issue?

[2021-11-04 20:40] MikeOpenHWGroup commented on #84
Hi @zarubaf, what is the status of this issue?  I am guessing you are not the right person to assign it to, and if that is the case, please assign it to the lucky person who is.

[2021-11-04 20:44] MikeOpenHWGroup commented on #91
@jeremybennett, I _believe_ this issue can be closed, is that correct?

[2021-11-04 20:45] MikeOpenHWGroup commented on #115
Hi @gmartin102, what is the status of this issue?

[2021-11-04 20:47] MikeOpenHWGroup commented on #92
Hi @zarubaf, what is the status of this issue?

[2021-11-04 21:00] MikeOpenHWGroup commented on #99
@zarubaf, is this issue related to #94?

[2021-11-04 21:01] MikeOpenHWGroup commented on #106
Hi @timsaxe, what is the status of this issue?

[2021-11-04 21:02] MikeOpenHWGroup commented on #108
Hi @gmartin102, what is the status of this issue?

[2021-11-04 21:03] MikeOpenHWGroup commented on #110
Hi @davideschiavone, what is the status of this issue?

[2021-11-04 21:05] MikeOpenHWGroup commented on #113
Hi @zarubaf, what is the status of this issue?

[2021-11-04 21:08] MikeOpenHWGroup commented on #117
Hi @stefanct, what is the status of this issue?

[2021-11-04 21:09] MikeOpenHWGroup commented on #120
Hi @gmartin102, what is the status of this issue?

[2021-11-04 21:13] MikeOpenHWGroup commented on #126
Hi @jeremybennett, I am not able to reproduce this issue.  I am running Ubuntu20.04 and the command you provide executes as expected.

Of course, this issue is somewhat stale, so maybe the version matching happened in the background.

I ran this off of core-v-mcu `c3ace54`.

[2021-11-04 21:13] davideschiavone commented on #110
fixed by https://github.com/openhwgroup/core-v-mcu/commit/5bace3807a0d6358be9933dd4b84326841632649

[2021-11-04 21:15] MikeOpenHWGroup commented on #130
Hi @zarubaf and @jeremybennett, what is the status of this issue?

[2021-11-04 21:17] MikeOpenHWGroup commented on #132
Hi @timsaxe, what is the status of this issue?

[2021-11-04 21:24] MikeOpenHWGroup commented on #133
Hi @zarubaf, what is the status of this issue?

[2021-11-04 21:25] MikeOpenHWGroup commented on #137
Hi @timsaxe, what is the status of this issue?

[2021-11-04 21:25] MikeOpenHWGroup commented on #140
Hi @jeremybennett, what is the status of this issue?

[2021-11-04 21:44] gmartin102 commented on #20
Yes we are using verible linter as part of the CI scripts

[2021-11-04 21:44] #20 closed

[2021-11-04 21:54] mithro commented on #20
@gmartin102 - You might be interested in the recent GitHub Actions we published @ https://github.com/chipsalliance/verible-linter-action and https://github.com/chipsalliance/verible-formatter-action which are talked about @ https://antmicro.com/blog/2021/08/verible-integration-with-github-actions/ -- They surface the lint and formatting changes in the GitHub Pull Request UI as shown below;
![image

[2021-11-04 21:59] stefanct commented on #117
Unchanged, I had not time to investigate how to correctly fix our implementation. The TAP on the Ultrascale+ is slightly different and would need some additional shifts as described here: https://jsteward.moe/risc-v-hardware-design-part-b-edgeboard-series.html

[2021-11-04 22:13] MikeOpenHWGroup commented on #155
Hi @zarubaf, what's the status of this issue?

[2021-11-04 22:16] MikeOpenHWGroup commented on #159
Assigning to myself as I am also looking at [core-v-verif #820](https://github.com/openhwgroup/core-v-verif/issues/820)

[2021-11-04 22:17] MikeOpenHWGroup commented on #168
@gmartin102, can this issue be closed?

[2021-11-04 22:20] MikeOpenHWGroup commented on #170
Hi @navaneeth-cirel, has your question been answered?  If I do not hear from you before 2021-11-11, I will close this issue.

[2021-11-04 22:21] MikeOpenHWGroup commented on #185
Hi @timsaxe, can you respond to this query?

[2021-11-04 22:29] MikeOpenHWGroup commented on #117
Thanks @stefanct.  We are moving up to "RTL Freeze" for V1.0.0 of the CORE-V-MCU so I will mark this as "won't fix" and "enhancement".  If you are interested, you can help us resolve the issue for a future release of the MCU.

[2021-11-04 22:34] MikeOpenHWGroup commented on #20
Thanks @gmartin102!  Thanks @mithro - I'll be sure to that check out.

[2021-11-05 04:45] navaneeth-cirel commented on #170
Hi @MikeOpenHWGroup ,

I feel this is partially answered, I got some performance numbers from the [link](https://github.com/openhwgroup/core-v-docs/blob/master/cores/performance/ppa_data.xlsx) you shared but I was unable to find any power numbers. Moreover I was looking more for numbers from the core-v-mcu as a whole to get idea from a typical system level perspective.

[2021-11-05 08:03] jeremybennett commented on #140
No progress. Until I have the Verilator model infrastructure complete, I am not investing time in working out how to speed it up. I suggest we move this to version 2, but it will need to be addressed in due course.

[2021-11-05 08:09] jeremybennett commented on #130
There are two aspects to this

1. Verilator warnings are useful because they indicate potential sub-optimal design and hence potential bugs. So they should be investigated, and if they are not an issue, the RTL can be tagged with Verilator comments to prevent the individual warning.

2. Some Verilator warnings are indicative of potential performance problems in the generated model. The one that st

[2021-11-05 08:14] jeremybennett commented on #126
@MikeOpenHWGroup It is quite likely that Ubuntu 20.04 has fixed an issue in its dependencies. I've since worked around the issue. I'm happy to close this issue if it can't be reproduced by you.

[2021-11-05 08:14] #126 closed

[2021-11-05 08:15] jeremybennett commented on #91
This is now working just fine. The issue can be closed.

[2021-11-05 08:15] #91 closed

[2021-11-05 08:20] jeremybennett commented on #33
I've asked @simonpcook, who is responsible for the pre-built tool chains, if we can enable TUI support. The original use case for the tool chains was Eclipse, for which TUI is irrelevant.

[2021-11-05 09:13] zarubaf commented on #113
Out-dated

[2021-11-05 09:13] #113 closed

[2021-11-05 09:14] zarubaf commented on #168
Added to OpenOCD

[2021-11-05 09:14] #168 closed

[2021-11-05 09:15] zarubaf commented on #44
Ongoing, doesn't gate "v1.0.0"

[2021-11-05 09:16] zarubaf commented on #94
I think that is implemented now, right @gmartin102?

[2021-11-05 09:16] zarubaf commented on #99
Related but not superseeded. Still relevant

[2021-11-05 09:19] zarubaf commented on #66
No news.

[2021-11-05 09:20] zarubaf commented on #64
No change. This will not gate "v1"

[2021-11-05 09:20] zarubaf commented on #61
Same. This will not gate "v1".

[2021-11-05 09:22] zarubaf commented on #130
It actually got worse. The waiver file has been compromised during merging outdated branches. I think we are back at square one with this.

[2021-11-05 09:23] zarubaf commented on #92
I believe @gmartin102 has something running. I let him comment.

[2021-11-05 12:40] MikeOpenHWGroup commented on #170
Understood @navaneeth-cirel.  These will be published once we have the silicon in hand.  You can find the current schedule in the MCU Project Approval document ([link](https://github.com/openhwgroup/core-v-docs/blob/master/program/Project%20Descriptions%20and%20Plans/CORE-V%20MCU%20SoC/PA%20document%20Oct%2025%202021.md#summary-of-timeline)).

[2021-11-05 12:42] MikeOpenHWGroup commented on #140
Fair enough.  I will remove the "Gates V1 RTL Freeze" lablel.

[2021-11-05 13:45] davideschiavone commented on #45
@gmartin102 - is this the latest version? https://docs.openhwgroup.org/projects/core-v-mcu/

if so we should add the link in the README and then close this issue

[2021-11-09 18:53] gmartin102 commented on #185
Sorry about the late response.  but here is short paragraph (ulitmately destined for the documantaion package) abou the embedded FPGA
A Quicklogic ArcticPro 2 eFPGA with four math Blocks is equipped. The EFPGA contains approximately 1000 SLC each with 4 lut/ff elements. 2 Math units are provided, each math unit contains 3 4kx32 bit Dual port RAMs and 2 Multiplier units. the RAMS cna be configures

[2021-11-09 18:53] #185 closed

[2021-11-09 19:09] MikeOpenHWGroup commented on #185
Hi @kangliyu1, for your information, the above has already been intergrated into a `documentation` branch that has yet to be merged onto the main branch of this repo.  ([link](https://github.com/openhwgroup/core-v-mcu/blob/documentation/docs/doc-src/CORE-V-MCU_User_Manual_Outline.md))

[2021-11-10 01:56] kangliyu1 commented on #185
@MikeOpenHWGroup @gmartin102 thank you very much！！

[2021-11-11 13:19] MikeOpenHWGroup opened #194 "`dm_exception_addr_i` hardwired to 0x0"
As of `c3ace54`, the top-level primary input to the CV32E40P core in the core-v-mcu `dm_exception_addr_i[31:0]` is hardwired to 0x0 in the MCU ([link](https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/core-v-mcu/fc/fc_subsystem.sv#L167)).

As discussed in [core-v-verif issues #820](https://github.com/openhwgroup/core-v-verif/issues/820#issuecomment-966093972), `dm_exception_addr_i` should

[2021-11-11 15:59] davideschiavone commented on #194
@bluewww, @gmartin102 do we have an exception routine inside the Debug ROM or somewhere in the Software?
This is the address the core jumps when in DEBUG MODE, and an **_illegal instruction_**, or an **_ecall_**, or an **_mret_**  is encountered.
Pining also @jeremybennett to know how this is handled in SW

[2021-11-11 16:03] gmartin102 commented on #194
@davideschiavone, yes i did a little investigation and the debug rom does have an exception routine (_exception:) that is for exception processing while in debug mode.  I believe the address is 0x1a11080c, so I plan to try that address and make sure nothing breaks but i'm not to sure how to actually test it.   maybe @jeremybennett has some idea on how to test it

[2021-11-11 16:05] davideschiavone commented on #194
ok cool, then if that is the case we can update the RTL.

[2021-11-11 16:07] davideschiavone commented on #194
the software team should decide whether how the exception should be treated. It can also become programmable by adding a register in the APB-domain that is written by the crt0, ROM, or jtag loader. Of course, it's not the safest option but it is one option.

[2021-11-12 16:33] MikeOpenHWGroup commented on #44
Hi @zarubaf and @hpollittsmith.  In a review of this issue involving @davideschiavone, @DBees and myself we determined that:
- support for Genesys 2 is desirable but not required.
- given that we have a semi-manual regression for on Nexys A7, an automated CI flow is not required.

Therefore, we are marking this issue as Closed.   Please comment if you disagree.

[2021-11-12 16:36] MikeOpenHWGroup commented on #69
These have been resolved in the `dev` branch and will make it to `master` once #191 is merged in.

[2021-11-12 16:36] #69 closed

[2021-11-12 16:37] MikeOpenHWGroup commented on #84
Determined to be a "nice to have".  Not gating RTL Freeze or Tapeout.

[2021-11-12 16:39] MikeOpenHWGroup commented on #85
@gmartin102 believes this issue has been resolved (or will be when #191 is merged in).  Assigning to me to check.

[2021-11-12 16:43] MikeOpenHWGroup commented on #89
Some, but not all of this has been completed (specifically the SRAMs).   The outstanding issue is the PLL (still waiting on a model).

The remaining updates mentioned in this issue are "nice to haves" and will not be addressed for the V1.0.0. release of CORE-V-MCU.

[2021-11-12 16:45] MikeOpenHWGroup commented on #96
Not gating V1.0.0 release of CORE-V-MCU

[2021-11-12 16:46] MikeOpenHWGroup commented on #94
@gmartin102 reports that this is done.

[2021-11-12 16:46] #94 closed

[2021-11-12 16:47] MikeOpenHWGroup commented on #108
Complete.

[2021-11-12 16:47] #108 closed

[2021-11-12 16:48] MikeOpenHWGroup commented on #115
Done.

[2021-11-12 16:48] #115 closed

[2021-11-12 16:48] MikeOpenHWGroup commented on #120
Done

[2021-11-12 16:48] #120 closed

[2021-11-12 16:55] MikeOpenHWGroup commented on #130
@gmartin102 has agreed to investigate this, _but_ it will not gate RTL Freeze because:
- Synopsys DC lint warnings and errors are higher priortiy (and not yet fully resolved)
- Many Verilator lint warnings are due to tool, not code issues.

[2021-11-12 16:57] MikeOpenHWGroup commented on #137
Done

[2021-11-12 16:57] #137 closed

[2021-11-12 17:10] MikeOpenHWGroup commented on #187
@jeremybennett, once #191 is merged in, the MCU will not support a floating point unit.  Therefore, this issue is "won't fix" for V1.0.0, so I have removed the "Gate RTL Freeze" label.   This issue can be revisited if/when a future MCU incorporates the FP unit.

[2021-11-12 17:26] MikeOpenHWGroup commented on #188
Much, but not all, of this work has already been completed.  Completion of this task will not gate V1.0.0

[2021-11-12 17:27] MikeOpenHWGroup commented on #189
Fixed in #191

[2021-11-12 17:28] MikeOpenHWGroup commented on #190
Fixed in #191

[2021-11-12 18:16] gmartin102 opened #197 "UDMA_SDIO timeout error"
UDMA module for sdio doesn't wait the correct amount of time for block write to complete.  The IP in sdio_txrx_data only waits 512 baud rate clocks for a block write to complete.  sdio cards can take upto 250 mS to release busy.

[2021-11-13 09:22] zarubaf commented on #44
I think we should keep it open. The issues still needs to be addressed. Although of course not fort his tapeout.

[2021-11-18 08:01] jeremybennett opened #199 "Verilator model does not work"
With the latest master branch (commit 53a5d08) , the Verilator model library builds but will not run, giving the following error:
[code]

To demonstrate this, first build the model in `core-v-mcu`
[code]

Then build the Verilator model driver as described in verification issue [#820](https://github.com/openhwgroup/core-v-verif/issues/820).  Run the model as above and observe the behavior.

[2021-11-18 08:02] jeremybennett commented on #199
Commit d63b657 by @gmartin102 in the `dev` branch resolves this issue. As soon as that commit is merged into master, this issue can be closed.

[2021-11-18 08:07] jeremybennett opened #200 "`make clean` is broken"
Running `make clean` on current top of tree (commit 53a5d08) fails:
[code]

I note also that the `build` directory is not removed, which would seem to be a key part of cleaning.

[2021-11-18 14:43] gmartin102 commented on #194
Fixed - dm_execption address set to 0x1a11080c as specified in dm module rom code.

[2021-11-18 14:43] #194 closed

[2021-11-18 14:44] gmartin102 commented on #190
closed -- FPU is removed from cv32e40p instantiation

[2021-11-18 14:44] gmartin102 commented on #189
closed - parameterization is corrected per cv32e40p documentation

[2021-11-18 14:44] #189 closed

[2021-11-18 15:03] MikeOpenHWGroup commented on #190
As of `53a5d08`, the FPU is still there.

The parameter is not set to 0, so the CV32E40P will no longer decode F or D instructions to be forwarded to the APU.  This is good.  However the floating point IP is still instantiated in the MCU and is still connected to the CV32E40P core via the APU interface.

Is that what we want?

[2021-11-18 15:12] MikeOpenHWGroup commented on #190
Yes, you are right that the instantiation of cv32e40 indicates `USE_FPU=0`.  This means that the core will now flag floating point instructions as illegal instructions.

However, the FPU IP is still instantiated and connected to the core in the [fc_subsystem](https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/core-v-mcu/fc/fc_subsystem.sv#L214).  The core can no longer use it, but the float

[2021-11-23 08:57] pawelkudlakaldec opened #201 "Variables driven by output ports can not be driven by assign statement."
Following file:
https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/core-v-mcu/top/core_v_mcu.sv
contains illegal assign statements (lines 485, 486):

  assign s_test_mode        = '0;
  assign s_dft_cg_enable    = '0;

because variables s_test_mode and s_dft_cg_enable are also driven by output ports of the following module instances:
  safe_domain #(
      .FLL_DATA_WIDTH(32),
      .FLL_AD

[2021-11-23 12:53] MikeOpenHWGroup commented on #201
Thanks for this issue @pawelkudlakaldec, we will investigate.

[2021-11-23 14:37] jeremybennett commented on #187
Seems reasonable to  me.

[2021-11-23 15:30] #200 closed

[2021-11-23 15:48] jeremybennett commented on #200
Thanks @gmartin102

[2021-12-01 16:21] gmartin102 opened #203 "How to create mem init files for simulation"
Add a readme/howto on creating mem init files for simulation.  Include any custom scripts to convert from SREC to required formate for various simulators

[2021-12-30 02:21] kangliyu1 opened #206 "A question about the use of EFPGA in CORE-V-MCU"
Hello! Can the EFPGA module of your project support all circuits? There is a question about how to realize the reconfiguration of any circuit after your chip is taped out. Because the number of signals and functions of each circuit are different, how do you map the circuit to EFPGA and map it to Is the circuit in the EFPGA integrated with the entire system? Is there a fixed pin constraint to match

[2022-01-08 09:21] davideschiavone opened #207 "target_sim in fusesoc core file in cv32e40p is set to latch rf"
Question: not very familiar with fusesoc but, shouldn't the register file for simulation (and for everything else) be set to flip-flop?

https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/vendor/openhwgroup_cv32e40p.core#L71

[2022-01-18 22:01] gmartin102 commented on #207
Yes this should be set for Register.  The synthesis path is using register also.

[2022-01-18 22:01] #207 closed

[2022-01-20 10:43] likewise commented on #117
For ZCU102, I solved this issue in my project:
https://github.com/likewise/ibex/blob/super_system/examples/fpga/zcu102/openocd_zynqmp_bscane2.cfg

This requires upstream OpenOCD 0.11.0 or later.

[2022-01-22 01:20] stefanct commented on #117
Hm, interesting but I am still stuck. I presume you are using the official openocd repo (or a binary based on that)? I initially tried the current riscv fork but that segfaults (I guess they did not merge some patch(es) from the vanilla 0.11 branch). With the current HEAD of the official repo it gets further but similar to earlier the debug module of the riscv core cannot be initialized correctly.

[2022-01-22 12:52] likewise commented on #117
I am using OpenOCD 0.11.0 upstream with Ibex RISC-V. I have not tried CORE-V (yet). I will provide you with my OpenOCD log for Ibex in a follow-up.

openocd --version
Open On-Chip Debugger 0.11.0
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html

[2022-02-01 15:54] jeremybennett opened #212 "`make model-lib` is broken"
Commit [31defb5edd13064362e23d91bdbe2aacd89fbe8a](https://github.com/openhwgroup/core-v-mcu/commit/31defb5edd13064362e23d91bdbe2aacd89fbe8a) broke `make model-lib` (used by the Verilator modeling project).
[code]

[2022-02-01 17:20] gmartin102 commented on #212
Fixed the Verilator issue.. inclusion of PLL logic broke the clock generation for Verilator and somehow the verilator boot code was deleted from the repo.

[2022-02-01 18:39] jeremybennett commented on #212
@gmartin102  Tested and this fixes the model building issue. Thanks for the quick patch.

Now looks like the debug unit is broken again. Symptoms seem very similar to previously. I'll raise this as a separate issue.

[2022-02-01 18:44] jeremybennett opened #213 "Debug unit reports no harts"
I have tested the latest work with the `genesys2` branch (commit 138c298).

The Verilator model builds using `make model-lib`. However when the model is included in the test harness, the debug unit is now reporting no harts. I built the Verilator test harness (`embench-target` repository, `target` directory, `jpb-jtag-driver` branch)
[code]

I then run the testbench:
[code]
The messages about retr

[2022-02-01 18:45] jeremybennett commented on #212
With the latest push, `make model-lib` works. However when I then include the verilator model in its test wrapper, the debug unit is broken and reports no harts. Documented in issue [#213](https://github.com/openhwgroup/core-v-mcu/issues/213).

[2022-02-01 18:55] gmartin102 commented on #212
Jeremy,
My mistake on fat fingering on of the updated files to include on the previous push.  I know this makes you're testing a pain to have to keep trying this build.  This highlights the weakness of Verilator on this type of whole chips simulation.  The actual device has a real PLL that has relatively complicated gating an control.  The Verilator build causes quite a disruption to the clock gen

[2022-02-01 18:58] gmartin102 commented on #212
VerilatorBoot.mem file was missing from the repo. This file is an alternate bootloader for use with verilator .

[2022-02-01 23:43] timsaxe commented on #213
Do we need to add something to either CI or regression to catch this earlier?

From: Greg Martin ***@***.***>
Sent: Tuesday, February 1, 2022 11:01 AM
To: openhwgroup/core-v-mcu ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [openhwgroup/core-v-mcu] Debug unit reports no harts (Issue #213)

CAUTION: This email originated from outside of the organization. Do not click links or open attachmen

[2022-02-02 02:54] MikeOpenHWGroup commented on #213
Hi gang - a few comments on this one:
1. Please push changes from your local fork to the `dev` branch of this repo.
2. We should not merge anything up to the master branch until it has successfully passed regressions in simulation, emulation and Verilator.
3. Please let the originator of an issue be the one to close it.   @jeremybennett is the originator of this issue, so I will reopen it for his

[2022-02-02 03:02] MikeOpenHWGroup commented on #212
Hi @gmartin102, let's follow the work-flow whereby the originator of an issue (@jeremybennett in this case), determines whether or not to close an issue.

[2022-02-02 11:42] jeremybennett commented on #212
Happy to close this issue. The broken debug unit it covered in #213

[2022-02-02 14:34] jeremybennett commented on #213
@gmartin102 Thanks for the quick turnaround. Tested and all working sweetly.

[2022-02-02 14:34] #213 closed

[2022-02-17 01:54] MikeOpenHWGroup commented on #212
Hi @gmartin102 and @jeremybennett.  As near as I can tell, this issue appears to _not_ have been resolved.  When attempting to compile with either Verilator or Vivado, I get:
`ERROR: Setup failed : Cannot find tb/mem_init_files/verilatorBoot.mem in :`.

What did you do to resolve this issue?

[2022-02-17 05:40] gmartin102 commented on #212
This is fixed in the genesys2 branch.. I'm not sure who should do this merge back to master.  I seem to mess things up to often so I mentioned that we needd to spend a little time to get things organized.  Jeremy tested in the genesys2 branch ithink

[2022-02-17 08:05] jeremybennett commented on #212
That is correct - I tested the `genesys2` branch.

I had assumed once the branch had passed review, it would be merged into master. @gmartin102 do you need some help with this?

[2022-02-17 13:53] MikeOpenHWGroup commented on #212
Ah, got it.

@gmartin102, I'll reach out to you today and we can merge up the `genesys2` branch onto the `master`.  I see pull-request #211 is already in place, so we can review it together.  Shouldn't take more than a half hour.

[2022-02-24 19:54] DBees opened #215 "Integrate PLL"

[2022-03-09 19:31] MikeOpenHWGroup opened #217 "What is src_files.yml used for?"
Hi @davideschiavone, what is the [src_files.yml](https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/core-v-mcu/src_files.yml) used for?

[2022-03-11 07:27] davideschiavone commented on #217
it was used as part of PULPissimo as a manifest file. The iptools would generate compile and analyse scripts. core-v-mcu uses fusesoc so src file is deprecated

[2022-03-11 13:59] MikeOpenHWGroup commented on #217
Can we safely remove them?

[2022-03-11 14:11] davideschiavone commented on #217
yes but we should not remove by hands files in the vendor folder - only outside the vendorized IP - instead, with you should exclude them from the source (e.g. https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/vendor/openhwgroup_cv32e40p.vendor.hjson#L15)

so we should:

1. Do a big clean up of the things we do not use, e.g. iptools, src files, rtl and ip lists, vcompile folder, etc. Here

[2022-03-11 14:42] jeremybennett opened #218 "Debug unit unexpected behavior when using abstract commands to access registers"
Registers are accessed via abstract commands using the following mapping.

| Address range   | Registers                                              |
|-----------------|--------------------------------------------------------|
| 0x0000 - 0x0fff | CSRs                                                   |
| 0x1000 - 0x101f | GPRs                                                   |
| 0x1020 - 0x103f

[2022-03-11 14:51] jeremybennett commented on #212
@mike as soon as the `genesys2` branch is merged this issue can be closed.

[2022-03-12 03:49] #212 closed

[2022-04-11 21:55] gmartin102 opened #224 "Verilator seems broken --"

[2022-04-11 21:57] #224 closed

[2022-04-12 01:17] MikeOpenHWGroup commented on #224
Hi Greg.  Can you provide more information?

- What is the command-line you used?
- What is the error message?

[2022-04-12 11:20] gmartin102 commented on #224
@mike,
I might have been premature in my assessment, Making sure I have the correct verilator installed.  Due to the poor support of verilator in cocotb I need to use an previous version (4.106) for my other work.  I may have messed up my 4.210 installation and I need to rebuild it.
Greg

On Apr 11, 2022, at 8:17 PM, Mike Thompson ***@***.******@***.***>> wrote:

CAUTION: This email originated fro

[2022-04-27 20:20] suppamax opened #225 "[Doc][Tests]"
From the readme in the `tests` folder:
[code]
I cannot find any `update-tests` script.

[2022-04-27 20:21] suppamax opened #226 "[Doc] toolchain indication in the quickstart guide"
In the Quickstart Guide I would expect to find some indication about the toolchain to compile the SW.

[2022-04-27 21:21] MikeOpenHWGroup commented on #225
I'll defer to @zarubaf on this one.  AFAICT, that file was not ever a part of this repo (although it exists in pulpissimo).

[2022-04-27 21:28] MikeOpenHWGroup commented on #226
There are two reasons why you will not find that in the QSG:
1. The QSG assumes the user is going to load a pre-built srec file, so no access of the toolchain is required.  For those who plan to use the Eclipse IDE, there is a link at the bottom of the QSG that takes you to a place that explains how to setup the toolchain for Eclipse to use.
2. The software (cli_test) is hosted in a separate repo

[2022-04-28 13:46] zarubaf commented on #225
For sure legacy. Never heard of it.

[2022-04-28 16:01] MikeOpenHWGroup commented on #225
OK, I will discuss with @gmartin102 to see what content in the `test` directory should be refactored and which should be outright deleted.

[2022-05-31 19:03] MikeOpenHWGroup opened #229 "Help with "vendoring""
Hi @zarubaf I need your help with one of the files we 'vendor' from https://github.com/pulp-platform/axi.  This is affecting pull-requests #223 and #228.

The file in question is `rtl/vendor/pulp_platform_axi/src/axi_burst_splitter.sv`.  This file has been changed, but I am too thick to figure out how to "revendor" it.  The command I tried:
[code]

[2022-06-07 13:24] kangliyu1 opened #232 "some question about event unit module"
Hello, I have some doubts in the process of learning this project. The event unit module appears in the lower right corner of the architecture diagram of this project. There are three lines connected to this module. Can you explain the function of this module for me? I am not very clear about the respective functions of the three connecting lines of this module, I hope you can give me some pointer

[2022-06-07 18:41] MikeOpenHWGroup commented on #232
Hi @kangliyu1.  Thanks for your issue.  We are in the process of creating a User Manual for the MCU, similar in format to what is already in place for the CV32E40P core.   I will ensure your question is answered when that document is published.

[2022-06-11 06:07] kyeoh2 opened #233 "name 'N_IO' is not defined"
Any idea why I have this error?  I try to download and run make src, and I run into this error, any advice will be appreciated.

kyeoh1@ubuntu:/work/kyeoh1/core-v-mcu$ make src
make: Circular rtl/includes/pulp_peripheral_defines.svh <- rtl/includes/pulp_peripheral_defines.svh dependency dropped.
make: Circular rtl/includes/periph_bus_defines.svh <- rtl/includes/pulp_peripheral_defines.svh dependen

[2022-06-21 08:52] jaedenzou opened #235 "spi_decoder false instruction during modelsim simulation"
Hi,

I'm trying to run simulation with make buildsim and make sim. After modelsim gui is opened and run, These errors were appeared after releasing the reset:

# core_v_mcu_tb.qspi.spi_decoder.decode @ 3163550ns:  ERROR : False instruction (66), please retry
#
# core_v_mcu_tb.qspi.spi_decoder.decode @ 3170950ns:  ERROR : False instruction (99), please retry

And eventually the trace timeout potent

[2022-06-22 06:07] #229 closed

[2022-06-22 14:10] MikeOpenHWGroup commented on #235
Hi @jaedenzou, thanks for raising this issue.  I am not familiar with ModelSim, particularly on Windows systems, so I cannot help there.

The error is clearly being generated by the QSPI model ([link](https://github.com/openhwgroup/core-v-mcu/blob/2e452a1eb58e7daad19226ed58ff1940370457e3/tb/qspi_model/GD25Q128B.v#L2520)), so it seems the memory image being read by the model has a problem.

[2022-06-22 19:47] gmartin102 commented on #235
This is a non-issue, the 66 and 99 commands are reset command to various flash devices and are not decoded by the GIGa flash version that is the repo.
The simulation only runs for a fixed amount of time and I assume you created and copied appropriate memory init files, otherwise the simulation will be looping in the boot loader.

On Jun 22, 2022, at 9:10 AM, Mike Thompson ***@***.******@***.***>>

[2022-07-04 06:30] jaedenzou opened #236 "Instruction needed to run cli_test in simulation"
Hi,

In the quick start guide, it is mentioned that "After working through this document you should have a [cli_test](https://github.com/openhwgroup/core-v-mcu-cli-test) running on the CORE-V-MCU on either an FPGA based emulation platform or in simulation using Verilator". The majority of the quick start guide introduced how to run it on FPGA specifically. We want to try it out in simulation first

[2022-07-04 09:06] davideschiavone commented on #236
hi @jaedenzou , the verilator simulation is work in progress (there is PR opened that needs to be fixed by myself asap).
if you clone that branch you should be able to use it.

Not sure your board will work, if it has enough resources there should not be any problem

[2022-07-05 02:55] jaedenzou commented on #236
Hi, @davideschiavone, thanks a lot for the reply and clarification.

[2022-07-05 06:27] davideschiavone commented on #236
i will keep it open till #230 is merged

[2022-08-03 16:26] jaedenzou opened #238 "cli_test's interrupt event 31 test"
Hi, all,

I've been working on enable the emulation of core-v-mcu on an Altera FPGA board. Currently I can get to cli_test and most of the tests are either passing or I'm able to make out the reason of failed test. Only the event 31 of interrupt tests failure is a bit confusing to me. I'm wondering is it normal to fail this test? And if it's not, I might need some insights on what exactly is the e

[2022-08-03 18:53] gmartin102 commented on #238
I believe event 31 test does not pass.  The event31 is generated if any of the other event fifos overflow.  I was not the original designer of the event logic, but my understanding is each event has a 4 entry fifo that captures event (interrupts to my minds interpretation).  The various events are prioritized and presented to the CPU via interrupt 11.  The idea behind the test was to enable an eve

[2022-08-04 09:44] jaedenzou commented on #238
Thank you again for the reply!

[2022-08-04 09:44] #238 closed

[2022-08-04 19:41] datum-dpoulin opened #239 "APB Timer Register Definition"
The [MCU UVM project](https://github.com/Datum-Technology-Corporation/core-v-mcu-uvm/tree/dev) has begun building Sub-System level test benches. We started with the [APB Timer](https://github.com/Datum-Technology-Corporation/core-v-mcu-uvm/tree/dev/dv/uvme_apb_timer).

We used [the spreadsheet included in the MCU source](https://github.com/openhwgroup/core-v-mcu/blob/master/rtl/apb_timer_unit/data

[2022-08-05 02:20] MikeOpenHWGroup commented on #239
Hi @datum-dpoulin, I am not sure that the access behaviour of CORE-V-MCU CSRs needs to conform to "UVM legal access polices".  Having said that, I would be surprised if the list you provided is insufficient for our needs so let's start there.

@gmartin102, at fiest glance this appears to be a bug in the CSV register spec.  What do you think?

[2022-09-19 20:38] DBees opened #250 "[TASK] <User Manual: Device Characteristics>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Complete Device Characteristics section of User Manual

### Description of Done

- Pinout documented
- IO state documented
- Power Characteristics per pin or pin group documented

### Associated PRs

_No response_

[2022-09-19 20:47] DBees opened #251 "[TASK] <MCU Manual: Package Information>"
### Task Description

Complete the Device Characteristics section of the user manual.

### Description of Done

- Package description
- package drawing
- Accepted pull request with complete details as above

### Associated PRs

_No response_

[2022-09-19 20:55] DBees opened #252 "[TASK] <User Manual: CV32E40P Subsystem>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Complete CV32E40P subsystem section of User Manual

### Description of Done

An accepted Pull Request to the development2 branch with the following contents:
- CV32E40P IP Configuration
VendorID, archID, implID
- Short reprise of the processor description taken from the CV32E40

[2022-09-19 21:03] DBees opened #253 "[TASK] <User Manual: Reset/Boot>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Provide reset/boot-up sequence description as chapter of user manual

### Description of Done

Accepted pull request to documentation2 branch with following contents:
-Reset
-Boot Selection
-Read Header Contents from Flash
-Boot SPI

### Associated PRs

_No response_

[2022-09-19 21:43] DBees opened #254 "[TASK] <MCU Manual: Memory Map>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create memory map section of User Manual.

### Description of Done

Accepted pull request to documentation2 branch including memory map with following components:
Boot Rom
RAM
Peripherals
Debug
eFPGA

### Associated PRs

_No response_

[2022-09-19 22:02] DBees opened #255 "[TASK] <User Manual: Interrupt Strategy>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create the Interrupt theory of operation for the core-v-mcu user manual

### Description of Done

Accepted pull request with description of
- fast interrupts
- event generator

### Associated PRs

_No response_

[2022-09-19 22:05] DBees opened #256 "[TASK] <User Manual: Timers>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create the description of timers for the core-v-mcu user manual

### Description of Done

An accepted pull request to the documentation2 branch with the following contents:
- general purpose timer
- advanced timer block

### Associated PRs

_No response_

[2022-09-19 22:20] DBees opened #257 "[TASK] <MCU manual: System Control Peripherals >"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create the section of the user manual which describes the peripherals listed below

### Description of Done

Accepted pull request to documentation2 branch describing the following:
Watchdog TImer
GPIO
IO Mux and GPIO Introduction
IO Mux Overview
How to Select Output Function
S

[2022-09-19 22:41] DBees opened #258 "[TASK] <MCU manual: Logarithmic Interconnect Peripherals>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Logarithmic Interconnect and attached peripherals section of MCU user manual

### Description of Done

Accepted pull request to the documentation2 branch regarding Theory of operation of the logarithmic interconnect and the folllowing peripherals
Logarithmic Interconnect Periph

[2022-09-20 10:53] CharKeaney opened #259 "[BUG] relative file name leads to $readmem file not found (Verilator model)"
### Is there an existing core-v-mcu bug for this?

- [X] I have searched the existing bug issues

### Bug Description

The file loaded in module `generic_memory` by `$readmemh` is a relative file location, and so not found if the Verilator model is not run in an expected directory.  In our example, the problem was triggered trying to open `mem_init/TOP.core_v_mcu.i_soc_domain.l2_ram_i.bank_sram_pr

[2022-09-20 10:55] jeremybennett commented on #259
@gmartin102 or @davideschiavone is this something where you might be able to suggest the most effective solution? Thanks.

[2022-09-21 02:58] DBees opened #260 "[TASK] <MCU Manual: Clock Domains>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create a pull request for clock domains aspect of the user manual on documentation2 branch

### Description of Done

Accepted pull request covering
eFPGA clocking strategy
PLL and SYSTEM CLOCKS
Introduction
PLL Description
Fractional PLL
Clock divisors
Clock Gating
Clock Setup

[2022-09-21 03:00] DBees opened #261 "[TASK] <MCU manual: eFPGA SubSystem>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create a pull request covering eFPGA subsystem part of user manual on documentation2 branch

### Description of Done

Accepted pull request covering
Introduction
Sub-system Architecture
FPGA sub-system components
Functional Description
Logic Cell
Math Units
Block RAM
FIFO Contr

[2022-09-21 03:02] DBees opened #262 "[TASK] <MCU Manual: Debug Approach>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create pull request covering debug approach part of user manual on documentation2 branch

### Description of Done

Accepted pull request covering debug approach

### Associated PRs

_No response_

[2022-09-21 03:04] DBees opened #263 "[TASK] <MCU Manual: Appendix A Terminology and Conventions>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create pull request for Appendix covering terminology

### Description of Done

Accepted pull request covering
A.1. Glossary of terms
A.2. Structure of a register definition

### Associated PRs

_No response_

[2022-09-21 03:11] DBees opened #264 "[TASK] <MCU Manual: MCU Summary>"
### Task Description

Create pull request on documentation2 branch covering a 1 paragraph summary of the MCU

### Description of Done

Accepted pull request covering above

### Associated PRs

_No response_

[2022-09-21 03:12] DBees opened #265 "[TASK] <MCU Manual: High Level Architecture>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create pull request on documentation2 branch covering high-level architecture

### Description of Done

Accepted pull request covering
CORE-V MCU block diagram with main sub-systems
The top-level internal system elements and peripherals in the CORE-V MCU
Key blocks in the main

[2022-09-21 03:21] DBees opened #266 "[TASK] <MCU Manual: basic structure>"
### Is there an existing core-v-mcu task for this?

- [X] I have searched the existing task issues

### Task Description

Create pull request for basic structure of MCU user manual on documentation2 branch

### Description of Done

Accepted pull request covering
- starting .md file for each section (can optionally be replaced by a .rst file as each author wishes)
- index.rst file
- check that the

[2022-09-21 03:23] #266 closed

[2022-11-02 02:42] athurwo opened #267 "README.md error"
### Is there an existing core-v-mcu bug for this?

- [X] I have searched the existing bug issues

### Bug Description

In the README.md,   description is "genesys2-emul",   but is "genesys-emul" in Makefile.

[2022-11-03 14:35] MikeOpenHWGroup commented on #267
Thanks for the bug report @athurwo.  Pull-request #269 will resolve it.

[2022-11-22 15:08] MikeOpenHWGroup commented on #267
PR #269 has been merged to master.

@athurwo, please confirm the update and close this issue if it is resolved.  Thanks!

[2022-11-22 20:32] MikeOpenHWGroup commented on #254
This task can be closed now.  The above content is now available in the [CORE-V-MCU User Manual](https://docs.openhwgroup.org/projects/core-v-mcu/doc-src/mmap.html#memory-map) on the master branch.

[2022-11-22 20:32] #254 closed

[2022-11-22 20:44] MikeOpenHWGroup opened #271 "Discrepancy between memory sizes within CORE-V-MCU User Manual"
This issue is either related to, or affects the outcome of #265 and #45.

The Block Diagram of the MCU in the [User Manual](https://docs.openhwgroup.org/projects/core-v-mcu/doc-src/overview.html) indicates that the on-chip `Interleaved RAM` is comprized of four banks of 192Kbytes each (for a total of 768Kbytes).  However, the [memory map](https://docs.openhwgroup.org/projects/core-v-mcu/doc-src/mm

[2022-11-23 01:35] #267 closed

[2022-11-23 21:05] MikeOpenHWGroup commented on #271
Copying Greg's email response here:
[code]
MCU user manual has been updated, see #273.  Will close this issue when that PR is merged.

[2022-11-24 08:54] jeremybennett commented on #271
@MikeOpenHWGroup @gmartin102

Interestingly, this is what I have in the Verilator model testbench. It was reporting the memory is good. I'll just rebuild and verify this is still the case.
[code]
Second argument is start address, third argument is end address, fifth argument is `true` if the memory is read only.

[2022-11-24 10:06] jeremybennett commented on #271
@MikeOpenHWGroup @gmartin102 I think what this means is I agree with Greg's layout, except I have it all at offset 0x1c000000

Of course, it may be that top bits are just being lopped off, so my offset is entirely irrelevant...

[2022-11-24 11:13] mbaykenar opened #274 "[BUG] couldn't find in the docs or QSG which Vivado version is needed"
### Is there an existing core-v-mcu bug for this?

- [X] I have searched the existing bug issues

### Bug Description

Hi, which version of Vivado is supported? In the code I searched for vivado:

rtl/vendor/pulp_platform_riscv_dbg/src/dm_csrs.sv --> // Xilinx Vivado 2020.1 does not allow subtraction of two enums; do the subtraction with logic
rtl/vendor/pulp_platform_axi/CHANGELOG.md --> ## 0.9.1

[2022-11-24 12:36] mbaykenar opened #275 "[BUG] pip3 install --user -r python-requirements.txt gives error"
### Is there an existing core-v-mcu bug for this?

- [X] I have searched the existing bug issues

### Bug Description

After cloning the repo I simply run

pip3 install --user -r python-requirements.txt

the run gives an error:

ERROR: importlib-resources 5.10.0 has requirement zipp>=3.1.0; python_version < "3.10", but you'll have zipp 1.0.0 which is incompatible.

[2022-11-24 19:23] jeremybennett commented on #271
I can confirm the Verilator model reports good memory as follows:
[code]

[2022-11-24 20:52] MikeOpenHWGroup commented on #271
This is different from what @gmartin102 reports: `Offset 0x10000-0x7fffff`.  Perhaps the FPGA version has more memory?

[2022-11-24 22:04] jeremybennett commented on #271
@MikeOpenHWGroup Good point - perhaps I dropped a zero. I can rebuild the model tomorrow and try a larger range. I didn't do the inverse test of "what memory is not there".

[2022-11-25 13:59] jeremybennett commented on #271
@MikeOpenHWGroup I note that memory up to 0x800000 would be 8MB of memory is that a mistake in @gmartin102 's figures above?

[2022-11-25 14:24] jeremybennett commented on #271
@MikeOpenHWGroup @gmartin102 I suspect the `0x800000` is a typo. There doesn't seem to be writable memory at the higher address!

[code]

[2022-11-25 18:08] MikeOpenHWGroup commented on #271
Agreed, for the FPGA implementation, memory tops out at 0x1c08ffff.  I'm still looking into the ASIC and simulation models to see if they agree.  This will be useful information for the User Manual.

In the meantime, I'll close this issue (but will probably ask @jeremybennett and @gmartin102 to review my User Manual updates when I'm ready to merge them in).

[2022-11-25 18:08] #271 closed

[2022-11-28 16:00] MikeOpenHWGroup commented on #275
Thanks for the report @mbaykenar.  I have not run this in a while and I too see this error.  It seems that the problem is with `yamlfmt`.  [This](https://stackoverflow.com/questions/49868091/python-error-when-installing-ruamel-yaml-package-with-pip) post in stackoverflow suggests down-versioning from python3.10 to 3.9.  This does not seem to be an intelligent solution.

Continuing to investgate...

[2022-11-28 17:07] MikeOpenHWGroup commented on #274
Thanks for the feedback @mbaykenar, you are right that we should include this!

I have successfully built a bitmap for the Nexys A7 using Vivado 2021.1 (64-bit) using the following commands:
[code]

[2022-11-29 02:32] MikeOpenHWGroup commented on #274
Hi again @mbaykenar.  I think (hope) this meets your needs.  Please close the issue if it does.  Thanks.

[2022-11-29 03:23] DBees opened #277 "[BUG] Quickstart guide - replace Eclipse IDE with SDK"
### Is there an existing core-v-mcu bug for this?

- [X] I have searched the existing bug issues

### Bug Description

Update Quickstart Guide with references to SDK

[2022-11-29 05:35] mbaykenar commented on #274
great! Thanks a lot!

[2022-11-29 05:35] #274 closed

[2022-11-29 11:54] MikeOpenHWGroup commented on #277
Do you mean [this](https://github.com/openhwgroup/core-v-mcu/tree/master/emulation/quickstart#eclipse-ide) section?  What SDK should we specify?

[2022-11-29 16:58] DBees commented on #277
Yes, that is the section. I believe we should specify https://github.com/openhwgroup/core-v-sdk

[2022-11-29 19:38] MikeOpenHWGroup commented on #277
Fair enough.  Is this urgent?  I have not yet used the SDK and it would take me several days to figure it all out before I could write it up for the QSG.  Is there another member I can ask?

[2022-11-30 02:28] DBees commented on #277
It is not urgent, but important. I assigned this to myself